<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Новости</title>
  <style>
   body {background-color: antiquewhite;}
   .block {text-align: center; width: 70%; margin-left: 15%;}
  h1 {color: #545; font-size: 3.5em;}
  p {color: black; font-size: 1.2em;}
  </style>
</head>
<body>
  <div class="block">
   <h1> Nes Id - <%= newsId %></h1>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur corrupti eum sit repellat, aspernatur, 
    illo doloremque sunt incidunt, ad eligendi quas dolor. Corrupti accusantium voluptatibus, repudiandae eos iure illo et?</p>


  </div>

</body>
</html>
